/*
Здесь можно ввести любое CSS-правило, понятное GTK+.
Изменённый CSS можно временно отключить, нажав выше кнопку «Пауза».

Изменения вступят в силу немедленно для всего приложения.
*/

button{
    color: red;
    background: white;
    }        
    button.Btn1{
	color: green;
    }
button.check{
	border-top-left-radius: 13px;
	border-top-right-radius: 13px;
}